html,body{
    background-color: #4e4e4e;
    height: 100vh;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linksaotraspag{
    position: absolute;
    top: 22px;
    right: 22px;
    font-family: Arial
    
}
.search-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#but2{
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.GooGrandee{
    margin-bottom: 150px;
    position: absolute;
    font-size: 80px;
}

#buscador{
    margin-top: 40px;
    width: 600px;
    height: 40px;
    border-radius: 15px;
}

#submit{
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
    border-radius: 10px;
}